In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [2]:
df=pd.read_csv("boston.csv")
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [3]:
df.shape

(506, 14)

In [4]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [5]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [6]:
# sc=MinMaxScaler()
sc=StandardScaler()
cols=['INDUS','RM','AGE','DIS','TAX','PTRATIO','B','LSTAT']
df[['INDUS','RM','AGE','DIS','TAX','PTRATIO','B','LSTAT']]=sc.fit_transform(df[['INDUS','RM','AGE','DIS','TAX','PTRATIO','B','LSTAT']])
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,-1.287909,0,0.538,0.413672,-0.120013,0.140214,1,-0.666608,-1.459000,0.441052,-1.075562,24.0
1,0.02731,0.0,-0.593381,0,0.469,0.194274,0.367166,0.557160,2,-0.987329,-0.303094,0.441052,-0.492439,21.6
2,0.02729,0.0,-0.593381,0,0.469,1.282714,-0.265812,0.557160,2,-0.987329,-0.303094,0.396427,-1.208727,34.7
3,0.03237,0.0,-1.306878,0,0.458,1.016303,-0.809889,1.077737,3,-1.106115,0.113032,0.416163,-1.361517,33.4
4,0.06905,0.0,-1.306878,0,0.458,1.228577,-0.511180,1.077737,3,-1.106115,0.113032,0.441052,-1.026501,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,0.115738,0,0.573,0.439316,0.018673,-0.625796,1,-0.803212,1.176466,0.387217,-0.418147,22.4
502,0.04527,0.0,0.115738,0,0.573,-0.234548,0.288933,-0.716639,1,-0.803212,1.176466,0.441052,-0.500850,20.6
503,0.06076,0.0,0.115738,0,0.573,0.984960,0.797449,-0.773684,1,-0.803212,1.176466,0.441052,-0.983048,23.9
504,0.10959,0.0,0.115738,0,0.573,0.725672,0.736996,-0.668437,1,-0.803212,1.176466,0.403225,-0.865302,22.0
505,0.04741,0.0,0.115738,0,0.573,-0.362767,0.434732,-0.613246,1,-0.803212,1.176466,0.441052,-0.669058,11.9

In [7]:
x=df.drop(['MEDV','ZN'],axis='columns')
y=df.MEDV
x.head()

,CRIM,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,-1.287909,0,0.538,0.413672,-0.120013,0.140214,1,-0.666608,-1.459000,0.441052,-1.075562
1,0.02731,-0.593381,0,0.469,0.194274,0.367166,0.557160,2,-0.987329,-0.303094,0.441052,-0.492439
2,0.02729,-0.593381,0,0.469,1.282714,-0.265812,0.557160,2,-0.987329,-0.303094,0.396427,-1.208727
3,0.03237,-1.306878,0,0.458,1.016303,-0.809889,1.077737,3,-1.106115,0.113032,0.416163,-1.361517
4,0.06905,-1.306878,0,0.458,1.228577,-0.511180,1.077737,3,-1.106115,0.113032,0.441052,-1.026501

In [8]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
x_train.head()

,CRIM,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
220,0.35809,-0.720322,1,0.507,0.949344,0.708548,-0.443682,8,-0.601276,-0.488039,0.384037,-0.412540
71,0.15876,-0.047680,0,0.413,-0.461069,-1.816253,0.709373,4,-0.613155,0.344213,0.222203,-0.388711
240,0.11329,-0.905627,0,0.428,0.872412,-0.507624,1.207940,6,-0.642851,-0.857929,0.379103,-0.178450
6,0.08829,-0.476654,0,0.524,-0.388411,-0.070229,0.839244,5,-0.577519,-1.505237,0.426798,-0.031268
417,25.94060,1.015999,0,0.679,-1.397069,0.729884,-1.020876,24,1.530926,0.806576,-2.514281,1.960602

In [11]:
x_train.shape

(404, 12)

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [13]:
s=cross_val_score(LinearRegression(),x_train,y_train)
np.average(s)

0.7444425657552995

In [14]:
s1=cross_val_score(DecisionTreeRegressor(),x_train,y_train)
np.average(s1)

0.7995297100977148

In [15]:
s2=cross_val_score(RandomForestRegressor(n_estimators=5),x_train,y_train)
np.average(s1)

0.7995297100977148

In [16]:
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
clf=GridSearchCV(RandomForestRegressor(), {
        'n_estimators':[1,5,10],
    }, 
    cv=5, 
    return_train_score=False, 

)
clf.fit(x_train,y_train)
# clf.best_score_
clf.best_params_

{'n_estimators': 10}

In [31]:
model=RandomForestRegressor(n_estimators=1000,max_depth=10,              # Limit tree depth
    min_samples_split=10,      # Minimum samples required to split a node
    min_samples_leaf=4,  )
# model=LinearRegression()
model.fit(x_train,y_train)

RandomForestRegressor(max_depth=10, min_samples_leaf=4, min_samples_split=10,
                      n_estimators=1000)

In [32]:
model.score(x_train,y_train)

0.9392412904896832

In [18]:
pred=model.predict(x_test)
pred

array([23.67, 29.88, 23.23, 11.41, 21.9 , 20.59, 20.95, 20.23, 20.64,
       18.96,  8.3 , 15.95, 15.64,  9.77, 46.88, 35.7 , 21.08, 34.67,
       27.66, 21.28, 23.21, 20.84, 20.52, 24.43, 20.29, 16.37, 18.71,
       15.86, 44.83, 18.62, 14.33, 18.13, 20.26, 21.17, 24.43, 17.66,
        7.85, 31.26, 14.38, 14.43, 22.74, 20.12, 23.95, 17.23, 24.39,
       23.28, 21.12, 16.03, 14.24, 23.3 , 17.15, 19.52, 21.7 , 41.23,
       15.95, 21.33, 19.55, 18.7 , 19.96, 20.55, 23.8 , 20.4 , 34.98,
       30.81, 17.68, 28.49, 16.79, 20.28, 16.67, 22.18, 20.84, 22.63,
       24.02, 31.53, 23.91,  9.16, 43.48, 21.63, 24.72, 20.03, 28.33,
       18.4 , 20.43, 43.4 , 40.57, 23.99, 24.73, 15.69, 27.43, 14.98,
       17.11, 10.57, 23.44, 31.41, 21.21, 20.52, 11.42, 23.66, 15.61,
       18.39, 22.97, 20.54])

In [33]:
model.score(x_test,y_test)

0.6916043312252179

In [20]:
y_test

329    22.6
371    50.0
219    23.0
403     8.3
78     21.2
       ...
56     24.7
455    14.1
60     18.7
213    28.1
108    19.8
Name: MEDV, Length: 102, dtype: float64