In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import LabelEncoder,StandardScaler,MaxAbsScaler,MinMaxScaler,OneHotEncoder

In [2]:
df=pd.read_csv("Carbon Emission.csv")
df.head()

,Body Type,Sex,Diet,How Often Shower,Heating Energy Source,Transport,Vehicle Type,Social Activity,Monthly Grocery Bill,Frequency of Traveling by Air,Vehicle Monthly Distance Km,Waste Bag Size,Waste Bag Weekly Count,How Long TV PC Daily Hour,How Many New Clothes Monthly,How Long Internet Daily Hour,Energy efficiency,Recycling,Cooking_With,CarbonEmission
0,overweight,female,pescatarian,daily,coal,public,NaN,often,230,frequently,210,large,4,7,26,1,No,['Metal'],"['Stove', 'Oven']",2238
1,obese,female,vegetarian,less frequently,natural gas,walk/bicycle,NaN,often,114,rarely,9,extra large,3,9,38,5,No,['Metal'],"['Stove', 'Microwave']",1892
2,overweight,male,omnivore,more frequently,wood,private,petrol,never,138,never,2472,small,1,14,47,6,Sometimes,['Metal'],"['Oven', 'Microwave']",2595
3,overweight,male,omnivore,twice a day,wood,walk/bicycle,NaN,sometimes,157,rarely,74,medium,3,20,5,7,Sometimes,"['Paper', 'Plastic', 'Glass', 'Metal']","['Microwave', 'Grill', 'Airfryer']",1074
4,obese,female,vegetarian,daily,coal,private,diesel,often,266,very frequently,8457,large,1,3,5,6,Yes,['Paper'],['Oven'],4743

In [3]:
df.isnull().sum()

Body Type                           0
Sex                                 0
Diet                                0
How Often Shower                    0
Heating Energy Source               0
Transport                           0
Vehicle Type                     6721
Social Activity                     0
Monthly Grocery Bill                0
Frequency of Traveling by Air       0
Vehicle Monthly Distance Km         0
Waste Bag Size                      0
Waste Bag Weekly Count              0
How Long TV PC Daily Hour           0
How Many New Clothes Monthly        0
How Long Internet Daily Hour        0
Energy efficiency                   0
Recycling                           0
Cooking_With                        0
CarbonEmission                      0
dtype: int64

In [4]:
df.dtypes

Body Type                        object
Sex                              object
Diet                             object
How Often Shower                 object
Heating Energy Source            object
Transport                        object
Vehicle Type                     object
Social Activity                  object
Monthly Grocery Bill              int64
Frequency of Traveling by Air    object
Vehicle Monthly Distance Km       int64
Waste Bag Size                   object
Waste Bag Weekly Count            int64
How Long TV PC Daily Hour         int64
How Many New Clothes Monthly      int64
How Long Internet Daily Hour      int64
Energy efficiency                object
Recycling                        object
Cooking_With                     object
CarbonEmission                    int64
dtype: object

In [5]:
df.shape

(10000, 20)

In [6]:
df.columns

Index(['Body Type', 'Sex', 'Diet', 'How Often Shower', 'Heating Energy Source',
       'Transport', 'Vehicle Type', 'Social Activity', 'Monthly Grocery Bill',
       'Frequency of Traveling by Air', 'Vehicle Monthly Distance Km',
       'Waste Bag Size', 'Waste Bag Weekly Count', 'How Long TV PC Daily Hour',
       'How Many New Clothes Monthly', 'How Long Internet Daily Hour',
       'Energy efficiency', 'Recycling', 'Cooking_With', 'CarbonEmission'],
      dtype='object')

In [7]:
col = [
    'Body Type',
    'Sex',
    'How Often Shower',
    'Social Activity',
    'Waste Bag Size',
    'Waste Bag Weekly Count',
    'How Long TV PC Daily Hour',
    'How Long Internet Daily Hour'
]
df.drop(col,axis='columns',inplace=True)

In [8]:
df.head()

,Diet,Heating Energy Source,Transport,Vehicle Type,Monthly Grocery Bill,Frequency of Traveling by Air,Vehicle Monthly Distance Km,How Many New Clothes Monthly,Energy efficiency,Recycling,Cooking_With,CarbonEmission
0,pescatarian,coal,public,NaN,230,frequently,210,26,No,['Metal'],"['Stove', 'Oven']",2238
1,vegetarian,natural gas,walk/bicycle,NaN,114,rarely,9,38,No,['Metal'],"['Stove', 'Microwave']",1892
2,omnivore,wood,private,petrol,138,never,2472,47,Sometimes,['Metal'],"['Oven', 'Microwave']",2595
3,omnivore,wood,walk/bicycle,NaN,157,rarely,74,5,Sometimes,"['Paper', 'Plastic', 'Glass', 'Metal']","['Microwave', 'Grill', 'Airfryer']",1074
4,vegetarian,coal,private,diesel,266,very frequently,8457,5,Yes,['Paper'],['Oven'],4743

In [9]:
df.columns

Index(['Diet', 'Heating Energy Source', 'Transport', 'Vehicle Type',
       'Monthly Grocery Bill', 'Frequency of Traveling by Air',
       'Vehicle Monthly Distance Km', 'How Many New Clothes Monthly',
       'Energy efficiency', 'Recycling', 'Cooking_With', 'CarbonEmission'],
      dtype='object')

In [10]:
df.isnull().sum()

Diet                                0
Heating Energy Source               0
Transport                           0
Vehicle Type                     6721
Monthly Grocery Bill                0
Frequency of Traveling by Air       0
Vehicle Monthly Distance Km         0
How Many New Clothes Monthly        0
Energy efficiency                   0
Recycling                           0
Cooking_With                        0
CarbonEmission                      0
dtype: int64

In [11]:
df['Vehicle Type'].fillna('unknown',inplace=True)

In [12]:
df.isnull().sum()

Diet                             0
Heating Energy Source            0
Transport                        0
Vehicle Type                     0
Monthly Grocery Bill             0
Frequency of Traveling by Air    0
Vehicle Monthly Distance Km      0
How Many New Clothes Monthly     0
Energy efficiency                0
Recycling                        0
Cooking_With                     0
CarbonEmission                   0
dtype: int64

In [13]:
df.head()

,Diet,Heating Energy Source,Transport,Vehicle Type,Monthly Grocery Bill,Frequency of Traveling by Air,Vehicle Monthly Distance Km,How Many New Clothes Monthly,Energy efficiency,Recycling,Cooking_With,CarbonEmission
0,pescatarian,coal,public,unknown,230,frequently,210,26,No,['Metal'],"['Stove', 'Oven']",2238
1,vegetarian,natural gas,walk/bicycle,unknown,114,rarely,9,38,No,['Metal'],"['Stove', 'Microwave']",1892
2,omnivore,wood,private,petrol,138,never,2472,47,Sometimes,['Metal'],"['Oven', 'Microwave']",2595
3,omnivore,wood,walk/bicycle,unknown,157,rarely,74,5,Sometimes,"['Paper', 'Plastic', 'Glass', 'Metal']","['Microwave', 'Grill', 'Airfryer']",1074
4,vegetarian,coal,private,diesel,266,very frequently,8457,5,Yes,['Paper'],['Oven'],4743

In [14]:
# df.Diet.unique(),df.Transport.unique(),df['Vehicle Type'].unique()
c=0
a=[]
for i in df.columns:
       if df[i].dtype==object:
           a.append(i)
           print(df[i].unique())
           c+=1
c
a

['pescatarian' 'vegetarian' 'omnivore' 'vegan']
['coal' 'natural gas' 'wood' 'electricity']
['public' 'walk/bicycle' 'private']
['unknown' 'petrol' 'diesel' 'hybrid' 'lpg' 'electric']
['frequently' 'rarely' 'never' 'very frequently']
['No' 'Sometimes' 'Yes']
["['Metal']" "['Paper', 'Plastic', 'Glass', 'Metal']" "['Paper']"
 "['Paper', 'Glass', 'Metal']" '[]' "['Paper', 'Plastic', 'Glass']"
 "['Glass']" "['Paper', 'Plastic']" "['Plastic']"
 "['Plastic', 'Glass', 'Metal']" "['Paper', 'Plastic', 'Metal']"
 "['Paper', 'Glass']" "['Paper', 'Metal']" "['Glass', 'Metal']"
 "['Plastic', 'Glass']" "['Plastic', 'Metal']"]
["['Stove', 'Oven']" "['Stove', 'Microwave']" "['Oven', 'Microwave']"
 "['Microwave', 'Grill', 'Airfryer']" "['Oven']"
 "['Stove', 'Oven', 'Microwave']" "['Grill', 'Airfryer']" "['Stove']"
 "['Stove', 'Oven', 'Microwave', 'Grill', 'Airfryer']"
 "['Oven', 'Microwave', 'Grill', 'Airfryer']"
 "['Stove', 'Grill', 'Airfryer']" "['Oven', 'Grill', 'Airfryer']"
 "['Microwave']" "['Stove', 'Oven', 'Grill', 'Airfryer']"
 "['Stove', 'Microwave', 'Grill', 'Airfryer']" '[]']

['Diet',
 'Heating Energy Source',
 'Transport',
 'Vehicle Type',
 'Frequency of Traveling by Air',
 'Energy efficiency',
 'Recycling',
 'Cooking_With']

In [15]:
col=['Diet',
 'Heating Energy Source',
 'Transport',
 'Vehicle Type',
 'Frequency of Traveling by Air',
 'Energy efficiency',
 'Recycling',
 'Cooking_With']
df1=pd.get_dummies(df,columns=col,dtype=int,drop_first=True)

In [16]:
df1.head()

,Monthly Grocery Bill,Vehicle Monthly Distance Km,How Many New Clothes Monthly,CarbonEmission,Diet_pescatarian,Diet_vegan,Diet_vegetarian,Heating Energy Source_electricity,Heating Energy Source_natural gas,Heating Energy Source_wood,...,Cooking_With_['Oven'],"Cooking_With_['Stove', 'Grill', 'Airfryer']","Cooking_With_['Stove', 'Microwave', 'Grill', 'Airfryer']","Cooking_With_['Stove', 'Microwave']","Cooking_With_['Stove', 'Oven', 'Grill', 'Airfryer']","Cooking_With_['Stove', 'Oven', 'Microwave', 'Grill', 'Airfryer']","Cooking_With_['Stove', 'Oven', 'Microwave']","Cooking_With_['Stove', 'Oven']",Cooking_With_['Stove'],Cooking_With_[]
0,230,210,26,2238,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,114,9,38,1892,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,138,2472,47,2595,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,157,74,5,1074,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,266,8457,5,4743,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [17]:
len(df1.columns)

52

In [18]:
x=df1.drop('CarbonEmission',axis=1)
y=df1.CarbonEmission
len(x),len(y)

(10000, 10000)

In [19]:
x.head()

,Monthly Grocery Bill,Vehicle Monthly Distance Km,How Many New Clothes Monthly,Diet_pescatarian,Diet_vegan,Diet_vegetarian,Heating Energy Source_electricity,Heating Energy Source_natural gas,Heating Energy Source_wood,Transport_public,...,Cooking_With_['Oven'],"Cooking_With_['Stove', 'Grill', 'Airfryer']","Cooking_With_['Stove', 'Microwave', 'Grill', 'Airfryer']","Cooking_With_['Stove', 'Microwave']","Cooking_With_['Stove', 'Oven', 'Grill', 'Airfryer']","Cooking_With_['Stove', 'Oven', 'Microwave', 'Grill', 'Airfryer']","Cooking_With_['Stove', 'Oven', 'Microwave']","Cooking_With_['Stove', 'Oven']",Cooking_With_['Stove'],Cooking_With_[]
0,230,210,26,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,114,9,38,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,138,2472,47,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,157,74,5,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,266,8457,5,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [20]:
y.head()

0    2238
1    1892
2    2595
3    1074
4    4743
Name: CarbonEmission, dtype: int64

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
len(x_train),len(x_test)

(8000, 2000)

In [22]:
s=cross_val_score(LinearRegression(),x_train,y_train)
s1=cross_val_score(DecisionTreeRegressor(),x_train,y_train)
s2=cross_val_score(RandomForestRegressor(n_estimators=100),x_train,y_train)
np.average(s),np.average(s1),np.average(s2)

(0.8107637611409249, 0.6312016940858919, 0.8136349532383138)

In [24]:
model=LinearRegression()
model.fit(x_train,y_train)
model.score(x_train,y_train),model.score(x_test,y_test)

(0.8136962770530556, 0.8061647887196046)