In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR,SVC
from sklearn.preprocessing import LabelEncoder,StandardScaler,MaxAbsScaler,MinMaxScaler,OneHotEncoder

In [2]:
df=pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.drop(['User ID','Age'],axis=1,inplace=True)
df.head()

   Gender  EstimatedSalary  Purchased
0    Male            19000          0
1    Male            20000          0
2  Female            43000          0
3  Female            57000          0
4    Male            76000          0

In [4]:
df.isnull().sum()

Gender             0
EstimatedSalary    0
Purchased          0
dtype: int64

In [5]:
l=LabelEncoder()
df.Gender=l.fit_transform(df.Gender)

In [6]:
df.head()

   Gender  EstimatedSalary  Purchased
0       1            19000          0
1       1            20000          0
2       0            43000          0
3       0            57000          0
4       1            76000          0

In [7]:
x=df.drop('Purchased',axis=1)
y=df.Purchased

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [16]:
# model=LogisticRegression()
model=SVC(kernel='rbf',C=30)
# model=DecisionTreeClassifier()
model.fit(x_train,y_train)
model.score(x_train,y_train)

0.7910447761194029

In [17]:
model.score(x_test,y_test)

0.7424242424242424

In [9]:
# from mlxtend.plotting import plot_decision_regions

# plot_decision_regions(x_train.values,y_train.values,clf=model,legend=2)

In [19]:
import pickle
pickle.dump(model,open('model14.pkl','wb'))