In [130]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [131]:
df=pd.read_csv("Life Expectancy Data.csv")
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [132]:
df.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', "Côte d'Ivoire", 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [133]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Country']=le.fit_transform(df['Country'])
df.Country

0         0
1         0
2         0
3         0
4         0
       ...
2933    192
2934    192
2935    192
2936    192
2937    192
Name: Country, Length: 2938, dtype: int32

In [134]:
value_counts = df['Country'].value_counts()
print(value_counts)

Country
0      16
132    16
121    16
122    16
123    16
       ..
124     1
146     1
117     1
142     1
49      1
Name: count, Length: 193, dtype: int64

In [135]:
df.dtypes

Country                              int32
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [136]:
df1=df.drop("Status",axis="columns")
# df1.head()
df1.Year.unique()

array([2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
       2004, 2003, 2002, 2001, 2000], dtype=int64)

In [137]:
df2 = df1.drop_duplicates(subset=['Country'])
df2.Country

0         0
16        1
32        2
48        3
64        4
       ...
2858    188
2874    189
2890    190
2906    191
2922    192
Name: Country, Length: 193, dtype: int32

In [138]:
df2.isnull().sum()

Country                              0
Year                                 0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            178
percentage expenditure               0
Hepatitis B                          9
Measles                              0
 BMI                                 4
under-five deaths                    0
Polio                                0
Total expenditure                  181
Diphtheria                           0
 HIV/AIDS                            0
GDP                                 34
Population                          49
 thinness  1-19 years                4
 thinness 5-9 years                  4
Income composition of resources     17
Schooling                           13
dtype: int64

In [139]:
df2.Country.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  44,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,
        38,  39,  40,  41,  42,  43,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192])

In [140]:
df2.columns

Index(['Country', 'Year', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [141]:
df3=df2.drop(['Alcohol','percentage expenditure','Total expenditure','Population', 'Income composition of resources', 'Schooling',' thinness 5-9 years', 'Year'],axis='columns')
df3

,Country,Life expectancy,Adult Mortality,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years
0,0,65.0,263.0,62,65.0,1154,19.1,83,6.0,65.0,0.1,584.259210,17.2
16,1,77.8,74.0,0,99.0,0,58.0,0,99.0,99.0,0.1,3954.227830,1.2
32,2,75.6,19.0,21,95.0,63,59.5,24,95.0,95.0,0.1,4132.762920,6.0
48,3,52.4,335.0,66,64.0,118,23.3,98,7.0,64.0,1.9,3695.793748,8.3
64,4,76.4,13.0,0,99.0,0,47.7,0,86.0,99.0,0.2,13566.954100,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,188,74.1,157.0,9,87.0,0,62.1,10,87.0,87.0,0.1,NaN,1.6
2874,189,76.0,127.0,28,97.0,256,17.5,35,97.0,97.0,0.1,NaN,14.2
2890,190,65.7,224.0,37,69.0,468,41.3,47,63.0,69.0,0.1,NaN,13.6
2906,191,61.8,33.0,27,9.0,9,23.4,40,9.0,9.0,4.1,1313.889646,6.3
2922,192,67.0,336.0,22,87.0,0,31.8,32,88.0,87.0,6.2,118.693830,5.6

In [142]:
columns_to_scale = ['GDP','Measles ','Adult Mortality','infant deaths', 'Hepatitis B',' BMI ','under-five deaths ','Polio', 'Diphtheria ', ' HIV/AIDS']
scaler = MinMaxScaler()
df3['Life expectancy ']=df3['Life expectancy ']/100

df3[columns_to_scale] = scaler.fit_transform(df3[columns_to_scale])

df3.head()

,Country,Life expectancy,Adult Mortality,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years
0,0,0.650,0.542443,0.068132,0.634409,0.012767,0.195755,0.075455,0.010638,0.634409,0.000000,0.008303,17.2
16,1,0.778,0.151139,0.000000,1.000000,0.000000,0.654481,0.000000,1.000000,1.000000,0.000000,0.059122,1.2
32,2,0.756,0.037267,0.023077,0.956989,0.000697,0.672170,0.021818,0.957447,0.956989,0.000000,0.061814,6.0
48,3,0.524,0.691511,0.072527,0.623656,0.001305,0.245283,0.089091,0.021277,0.623656,0.195652,0.055225,8.3
64,4,0.764,0.024845,0.000000,1.000000,0.000000,0.533019,0.000000,0.861702,1.000000,0.010870,0.204082,3.3

In [143]:
df3.isnull().sum()

Country                   0
Life expectancy          10
Adult Mortality          10
infant deaths             0
Hepatitis B               9
Measles                   0
 BMI                      4
under-five deaths         0
Polio                     0
Diphtheria                0
 HIV/AIDS                 0
GDP                      34
 thinness  1-19 years     4
dtype: int64

In [144]:
# df3['GDP'].fillna(df3.GDP.mean(),inplace=True)
# df3[' thinness  1-19 years'].fillna(df3.GDP.mean(),inplace=True)
df3.fillna(df3.mean(), inplace=True)
df3.head()

,Country,Life expectancy,Adult Mortality,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years
0,0,0.650,0.542443,0.068132,0.634409,0.012767,0.195755,0.075455,0.010638,0.634409,0.000000,0.008303,17.2
16,1,0.778,0.151139,0.000000,1.000000,0.000000,0.654481,0.000000,1.000000,1.000000,0.000000,0.059122,1.2
32,2,0.756,0.037267,0.023077,0.956989,0.000697,0.672170,0.021818,0.957447,0.956989,0.000000,0.061814,6.0
48,3,0.524,0.691511,0.072527,0.623656,0.001305,0.245283,0.089091,0.021277,0.623656,0.195652,0.055225,8.3
64,4,0.764,0.024845,0.000000,1.000000,0.000000,0.533019,0.000000,0.861702,1.000000,0.010870,0.204082,3.3

In [145]:
df3.isnull().sum()

Country                  0
Life expectancy          0
Adult Mortality          0
infant deaths            0
Hepatitis B              0
Measles                  0
 BMI                     0
under-five deaths        0
Polio                    0
Diphtheria               0
 HIV/AIDS                0
GDP                      0
 thinness  1-19 years    0
dtype: int64

In [146]:
x=df3.drop('Life expectancy ',axis='columns')
y=df3['Life expectancy ']

In [147]:
x.head()

,Country,Adult Mortality,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years
0,0,0.542443,0.068132,0.634409,0.012767,0.195755,0.075455,0.010638,0.634409,0.000000,0.008303,17.2
16,1,0.151139,0.000000,1.000000,0.000000,0.654481,0.000000,1.000000,1.000000,0.000000,0.059122,1.2
32,2,0.037267,0.023077,0.956989,0.000697,0.672170,0.021818,0.957447,0.956989,0.000000,0.061814,6.0
48,3,0.691511,0.072527,0.623656,0.001305,0.245283,0.089091,0.021277,0.623656,0.195652,0.055225,8.3
64,4,0.024845,0.000000,1.000000,0.000000,0.533019,0.000000,0.861702,1.000000,0.010870,0.204082,3.3

In [148]:
y.head()

0     0.650
16    0.778
32    0.756
48    0.524
64    0.764
Name: Life expectancy , dtype: float64

In [149]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=42)

In [150]:
s=cross_val_score(LinearRegression(),x_train,y_train)
np.average(s)

0.41287950121489236

In [151]:

s1=cross_val_score(DecisionTreeRegressor(),x_train,y_train)
np.average(s1)

0.7885684247616666

In [152]:
s2=cross_val_score(RandomForestRegressor(n_estimators=100),x_train,y_train)
np.average(s2)

0.8832360176403939

In [153]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(RandomForestRegressor(), {
    'n_estimators':[10,20,30,40,50,60,70,80,90,100],
}, cv=5, return_train_score=False)
clf.fit(x_train,y_train)
clf.best_params_

{'n_estimators': 40}

In [154]:
s21=cross_val_score(RandomForestRegressor(n_estimators=70),x_train,y_train)
np.average(s21)

0.8775108993255971

In [155]:
model=RandomForestRegressor(n_estimators=70)
model.fit(x_train,y_train)

RandomForestRegressor(n_estimators=70)

In [156]:
pred=model.predict(x_test)
pred

array([0.74625254, 0.80412857, 0.67344286, 0.72124426, 0.75937143,
       0.59898571, 0.82624286, 0.64708571, 0.71055012, 0.74984528,
       0.76185714, 0.77532857, 0.80848571, 0.6414    , 0.79507143,
       0.56525714, 0.71796799, 0.60692857, 0.7047644 , 0.65532857,
       0.61345714, 0.81938571, 0.68205012, 0.8126    , 0.74684528,
       0.65915714, 0.74980484, 0.57804286, 0.81591429, 0.71677307,
       0.54582857, 0.66542857, 0.7069644 , 0.72106924, 0.72999563,
       0.78922857, 0.79077143, 0.74722155, 0.82785714])

In [157]:
from sklearn.metrics import confusion_matrix
model.score(x_test,y_test)

0.8662497990473288

In [158]:
model.score(x,y)

0.9576822326203617

In [159]:
model.score(x_train,y_train)

0.9835021176848722

In [165]:
len(y_test)

39

In [161]:
y_test

[0.76,
 0.823,
 0.6829999999999999,
 0.732,
 0.743,
 0.51,
 0.8109999999999999,
 0.698,
 0.71,
 0.727,
 0.755,
 0.7609999999999999,
 0.81,
 0.624,
 0.767,
 0.573,
 0.7161693989071038,
 0.59,
 0.688,
 0.7190000000000001,
 0.629,
 0.8109999999999999,
 0.6920000000000001,
 0.82,
 0.736,
 0.6659999999999999,
 0.745,
 0.573,
 0.8240000000000001,
 0.7161693989071038,
 0.5760000000000001,
 0.645,
 0.77,
 0.711,
 0.6829999999999999,
 0.763,
 0.88,
 0.752,
 0.8340000000000001]

In [1]:
import pickle