In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [2]:
df=pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [4]:
df.total_bedrooms.fillna(df.total_bedrooms.mean(),inplace=True)
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [5]:
df.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
11292,-117.93,33.79,36.0,2363.0,403.0,1240.0,391.0,4.0909,190800.0,<1H OCEAN
4993,-118.31,33.99,44.0,1703.0,358.0,789.0,249.0,1.7083,100000.0,<1H OCEAN
15176,-117.08,33.03,10.0,2296.0,450.0,818.0,405.0,4.3424,160600.0,<1H OCEAN
15991,-122.47,37.75,51.0,2413.0,431.0,1095.0,437.0,4.0089,357000.0,NEAR BAY
19389,-120.85,37.75,26.0,28.0,4.0,9.0,5.0,1.6250,85000.0,INLAND

In [6]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder,StandardScaler,MaxAbsScaler,MinMaxScaler
le=LabelEncoder()
le.fit(df.ocean_proximity)
df.ocean_proximity=le.transform(df.ocean_proximity)
mx=MaxAbsScaler()
m=MinMaxScaler()
s=StandardScaler()

In [8]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [9]:
df1=df.drop(['longitude', 'latitude', 'population', 'households','ocean_proximity'],axis='columns')
df1.head()

,housing_median_age,total_rooms,total_bedrooms,median_income,median_house_value
0,41.0,880.0,129.0,8.3252,452600.0
1,21.0,7099.0,1106.0,8.3014,358500.0
2,52.0,1467.0,190.0,7.2574,352100.0
3,52.0,1274.0,235.0,5.6431,341300.0
4,52.0,1627.0,280.0,3.8462,342200.0

In [10]:
df1[ 'total_bedrooms']=m.fit_transform(df1[[ 'total_bedrooms']])
df1[ 'total_rooms']=m.fit_transform(df1[[ 'total_rooms']])
df1['housing_median_age']=m.fit_transform(df1[[ 'housing_median_age']])
df1['median_house_value']=m.fit_transform(df1[['median_house_value']])
df1['median_income']=m.fit_transform(df1[['median_income']])
df1.head()

,housing_median_age,total_rooms,total_bedrooms,median_income,median_house_value
0,0.784314,0.022331,0.019863,0.539668,0.902266
1,0.392157,0.180503,0.171477,0.538027,0.708247
2,1.000000,0.037260,0.029330,0.466028,0.695051
3,1.000000,0.032352,0.036313,0.354699,0.672783
4,1.000000,0.041330,0.043296,0.230776,0.674638

In [11]:
x=df1.drop('median_house_value',axis='columns')
y=df1.median_house_value

In [12]:

x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [14]:
s=cross_val_score( LinearRegression(),x_train,y_train)
np.average(s)

0.5498589499361203

In [15]:
s1=cross_val_score(DecisionTreeRegressor(),x_train,y_train)
np.average(s1)

0.2380888937699696

In [16]:
s2=cross_val_score(RandomForestRegressor(n_estimators=100),x_train,y_train)
np.average(s2)

0.6023318297647137

In [17]:
s3=cross_val_score(DecisionTreeRegressor(),x_train,y_train)
np.average(s3)

0.24166759452439796

In [18]:
s4=cross_val_score(SVR(kernel='linear',C=1),x_train,y_train)
np.average(s4)

0.5466360278488135

In [19]:
model=RandomForestRegressor(n_estimators=100)

In [20]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [25]:
model.score(x_train,y_train)

0.9449441714298709

In [21]:
model.score(x_test,y_test)

0.5636842967830252

In [22]:
pred=model.predict(x_test)

In [23]:
len(y_test)

4128

In [24]:
a=list(pred)
b=list(y_test)
c=0
for i in range(0,len(y_test)):
    if a[i]==b[i]:
        c+=1
c

29