In [162]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import LabelEncoder,StandardScaler,MaxAbsScaler,MinMaxScaler,OneHotEncoder

In [163]:
df=pd.read_csv("StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [164]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [165]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [166]:
df['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [167]:
df['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [168]:
df.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)

In [169]:
df['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

In [170]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [171]:
le = LabelEncoder()

# Columns to encode
col = ['gender', 'test preparation course', 'lunch']

# Fit and transform the specified columns
df[col] = df[col].apply(lambda x: le.fit_transform(x))

In [172]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,group B,bachelor's degree,1,1,72,72,74
1,0,group C,some college,1,0,69,90,88
2,0,group B,master's degree,1,1,90,95,93
3,1,group A,associate's degree,0,1,47,57,44
4,1,group C,some college,1,1,76,78,75

In [173]:
cols = ['parental level of education', 'race/ethnicity']

df = pd.get_dummies(df, columns=cols)

df.head()

,gender,lunch,test preparation course,math score,reading score,writing score,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,0,1,1,72,72,74,False,True,False,False,False,False,False,True,False,False,False
1,0,1,0,69,90,88,False,False,False,False,True,False,False,False,True,False,False
2,0,1,1,90,95,93,False,False,False,True,False,False,False,True,False,False,False
3,1,0,1,47,57,44,True,False,False,False,False,False,True,False,False,False,False
4,1,1,1,76,78,75,False,False,False,False,True,False,False,False,True,False,False

In [174]:
df['total score']=((df['math score']+df['reading score']+df['writing score'])/3)
df['total score']

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: total score, Length: 1000, dtype: float64

In [175]:
df.head()

,gender,lunch,test preparation course,math score,reading score,writing score,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,total score
0,0,1,1,72,72,74,False,True,False,False,False,False,False,True,False,False,False,72.666667
1,0,1,0,69,90,88,False,False,False,False,True,False,False,False,True,False,False,82.333333
2,0,1,1,90,95,93,False,False,False,True,False,False,False,True,False,False,False,92.666667
3,1,0,1,47,57,44,True,False,False,False,False,False,True,False,False,False,False,49.333333
4,1,1,1,76,78,75,False,False,False,False,True,False,False,False,True,False,False,76.333333

In [176]:
x=df.drop('total score',axis=1)
y=df['total score']

In [177]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [178]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [179]:
model.score(x_test,y_test)

1.0

In [180]:
p=model.predict(x_test)